<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>778646354621-r3vc8a3fmh7rd852c6ia358kq9krtg3a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.778646354621-r3vc8a3fmh7rd852c6ia358kq9krtg3a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>778646354621-9n4e9tpfv11efqqkgd3kfr88loneseih.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDGB6mw8q1fFXY1wbpvh_GomIkPmVrUDRY</string>
	<key>GCM_SENDER_ID</key>
	<string>778646354621</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Spendly</string>
	<key>PROJECT_ID</key>
	<string>spendlybudget</string>
	<key>STORAGE_BUCKET</key>
	<string>spendlybudget.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:778646354621:ios:dd7c810d4506f3107d95d4</string>
	<key>DATABASE_URL</key>
	<string>https://spendlybudget-default-rtdb.firebaseio.com</string>
</dict>
</plist>